/*
* Ruth Wilhelm
* 3/13/19
* Superhero Table 
*/ 

/* The universial selector */

* { 
} 

/* Body attributes here */

body { 
     background-color: aquamarine   
} 
/* Here is the layout of the table. These make it more pretty! */ 
table, td, th { border: 1px solid blue; }
table { border-collapse: collapse; }
thead { background-color: lime; }
tfoot { background-color: deepskyblue; }